@charset "UTF-8";

/* ------------------------------------------
  RESET
--------------------------------------------- */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}


:focus {
  outline: 1px dotted #fff;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  BASE DEMO STYLES
--------------------------------------------- */

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}

section {
  border-bottom: 1px solid #999;
  float: left;
  width: 100%;
  height: 800px;
}

button {
  background-color: transparent;
  -webkit-appearance: button;
  cursor: pointer;
}

/* ------------------------------------------
  HEADER
--------------------------------------------- */

.header {
  background: #f4421a;
  height: 3.5em;
  float: left;
  width: 100%;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: #fff;
  float: left;
}


/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    width: auto;
    float: right;
  }
}

.nav-collapse > ul {
  border-top: 1px solid rgba(0,0,0, .15);
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  background: #f4421a;
  border-bottom: 1px solid rgba(0,0,0, .15);
  color: #fff;
  float: left;
  padding: 0.9em 1.1em;
  text-decoration: none;
  width: 100%;
}

.nav-collapse a:active {
  color: rgba(255,255,255, .5);
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    border-bottom: 0;
    border-right: 1px solid white;
    padding: 1em 1.5em;
    margin: 0;
    float: left;
    text-align: center;
  }
  .nav-collapse li:first-child a {
    border-left: 1px solid white;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  float: right;
  line-height: 39px;
  padding: 0 0.75em;
  margin-top: 7px;
  margin-right: 5%;
}

/* ------------------------------------------
  MULTIPLE LEVELS
--------------------------------------------- */

@media screen and (max-width: 39.999em) {

  /* Enable active class to let the navigation expand over the calculated max height. */
  .js .nav-collapse.multiple-level-nav.opened.dropdown-active {
    max-height: 9999px !important;
  }

  .js .nav-collapse.multiple-level-nav .sub-menu {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: none; /* This way you don't have focus on sub menu items unless you open the sub menu. */
    overflow: hidden;
    zoom: 1;
  }

  .js .nav-collapse.multiple-level-nav .sub-menu.toggled {
    display: block;
    max-height: 9999px;
    position: relative;
  }

  .js .nav-collapse li {
    position: relative;
  }

  .js .nav-collapse .dropdown-toggle {
    border: 1px solid #fff;
    color: #fff;
    content: "";
    height: 36px;
    width: 36px;
    padding: 0;
    position: absolute;
    margin: 0;
    text-transform: lowercase;
    top: 0.6em;
    right: 4%;
  }

  .js .nav-collapse .dropdown-toggle:after {
    content: "+";
    font-size: 20px;
  }
  .js .nav-collapse .dropdown-toggle.toggled:after {
    content: "-";
  }
  
}
  
.dropdown ul a {
  background: #b63315;
  padding-left: 1.5em;
}

.dropdown ul ul a {
  background: #81230e;
  padding-left: 2.5em;
}

@media screen and (min-width: 40em) {
  .dropdown-toggle  {
    display: none;
  }

}

.dropdown ul {
  background: #b63315;
}

.dropdown ul ul {
  border: 0;
  padding: 0;
}

.dropdown .dropdown.opened .has-dropdown {
  background: #9c2c12;
}

@media screen and (min-width: 40em) {

  .nav-collapse {
    padding-right: 4%;
	position: relative;
  }

  .js .nav-collapse,
  .js .nav-collapse .dropdown ul {
    max-height: none;
    overflow: visible;
  }
  
  .has-dropdown:after {
    font-size: 1.5em;
    line-height: 0.8;
    float: right;
    content: "";
    width: 0;
    height: 0;
    margin: 1em 0 0 0.5em;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
  }
  .dropdown ul .has-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    margin: 0.3em 0 0 0.5em;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #fff;
  }
  .nav-collapse a:hover,
  .nav-collapse li.focus > a {
    color: rgba(255,255,255, .7);
  }
  .nav-collapse .dropdown {
    position: relative;
  }
  .nav-collapse .dropdown li {
    width: 100%;
  }
  .nav-collapse .dropdown ul a {
    text-align: left;
    border: 0;
  }
  
  .nav-collapse li {
    border: 0;
    display: inline-block;
    height: 55px;
    line-height: 55px;
    position: relative;
  }

  .nav-collapse a {
    display: inline-block;
    padding: 0 16px;
  }

  .nav-collapse ul ul {
    float: left;
    margin: 0;
    position: absolute;
    top: 85px;
    left: -999em;
    z-index: 99999;
    text-align: center;
  }

  .nav-collapse li li {
    border: 0;
    display: block;
    height: auto;
    line-height: 1.0909090909;
  }

  .nav-collapse ul ul ul {
    left: -999em;
    top: 20px;
  }

  .nav-collapse ul ul a {
    padding: 15px 12px;
    white-space: normal;
    width: 150px;
  }

  .nav-collapse ul li:hover > ul,
  .nav-collapse ul li.focus > ul {
    top: 55px;
    left: 50%;
    margin-left: -75px;
  }

  .nav-collapse ul ul li:hover > ul,
  .nav-collapse ul ul li.focus > ul {
    top: 0;
    left: 0%;
    margin-left: 150px;
  }
  
}
