@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";


.hamburger-label {
  font-weight: 600;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  text-transform: uppercase;
}

.hamburger-box {
  display: inline-block;
  vertical-align: middle;
}
